*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav{
	background: lightyellow;
	height: 100%;
	width: 200px;
	position: fixed;
	/*float: left;*/
}

.logo{
	width: 140px;
	height: 140px;
	background: darkgrey;
	margin: auto;
	margin-bottom: 15px;


}

main{
	background-: lightgrey;
	margin-left: 200px;
}

.banner{
	background: skyblue;
	position: relative;
	height: 700px;
}

.about	{
	background: indianred;
	min-height: 300px;
}

.services{
	background: aquamarine;
	min-height: 300px;

}

.projects{
	background: crimson;
	min-height: 200px;

}

.gallery{
	background: orange;
	min-height: 400px;
}

.footer{
	background: green;
	min-height: 50px;
}

.nav, .banner, .about, .services, .projects, .gallery, .footer{
	padding: 30px;
}

ul > li > a{
	text-decoration: none;
}

ul > li {
	list-style: none;
	background: lightblue;
	margin-bottom: 2px;
	line-height: 48px;
	text-align: center;
}


.box{
	border: 5px solid white;
	text-align: center;
	width: 40%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
}


.services > .column{
	border: 1px solid black;
	width: 32%;
	margin left: 1.16%;
	margin-right: 1.16%;
	float: left;
}

.clear:after{
	content: " ";
	display: block;
	clear: both;
}

img[alt*="service"] {
	border: 1px solid black;
	width: 60px;
	height: 60px;
	display: block;
	float: left;
	margin: 10px;
}

img[alt*="service"] ~ p{
	overflow: hidden;
	padding: 10px;
}

.gallery > .column{
	border: 1px solid black;
	width: 23%;
	margin left: 1%;
	margin-right: 1%;
	float: left;
}

img[alt*="gallery"] {
	width: 100%;
	height: 200px;
	border: 1px solid black;
	display: block;

}

img[alt*="social"]{
	border: 1px solid black;
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	margin-right: 20px;
}

.socmed{
	float: right;
}

@media only screen and (min-width: 401px) and (max-width: 960px){
.services > .column {
    border: 1px solid black;
    width: 100%;
    margin-right: 1.16%;
    float: left;
}
}

/*Table Styles*/
@media only screen and (max-width: 960px) and (min-width: 401px){
.gallery > .column {
    border: 1px solid black;
    width: 48%;
    margin-right: 1.16%;
    float: left;
}
}


/*Mobile Styles*/
@media only screen and (max-width: 400px){
	.nav {
    background: lightyellow;
    height: 100%;
    width: 100%;
    position: relative;
    /* float: left; */
}
main{
	background-: lightgrey;
	margin-left: 0;
}

.box {
    border: 5px solid white;
    text-align: center;
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
	.services > .column {
    border: 1px solid black;
    width: 100%;
    margin-right: 1.16%;
    float: left;
}
.gallery > .column {
    border: 1px solid black;
    width: 100%;
    margin-right: 1%;
    float: left;
}


}


